{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row mt-5">
        <hr>
          <div class="col">
              <!-- Formulário para atulização de Cursos e Conhecimentos -->
              <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data">
                  {{ form_habilidade.csrf_token }}
                  <legend>Atualize seus Conhecimentos</legend>
                  <fieldset>
                      <div class="row">
                          <div class="form-group col-6">
                              {{ form_habilidade.curso.label (class="form-control-label") }}
                              {% if form_habilidade.curso.errors %}
                                {{ form_habilidade.curso (class="form-control is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for erro in form_habilidade.curso.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form_habilidade.curso (class="form-control") }}
                              {% endif %}
                          </div>
                          <div class="form-group col-6">
                              {{ form_habilidade.tipo_curso.label (class="form-control-label") }}
                              {% if form_habilidade.tipo_curso.errors %}
                                {{ form_habilidade.tipo_curso (class="form-control is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for erro in form_habilidade.tipo_curso.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form_habilidade.tipo_curso (class="form-control") }}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group">
                          {{ form_habilidade.escola.label (class="form-control-label") }}
                          {% if form_habilidade.escola.errors %}
                            {{ form_habilidade.escola (class="form-control is-invalid") }}
                            <div class = "invalid-feedback">
                                {% for erro in form_habilidade.escola.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                          {% else %}
                            {{ form_habilidade.escola (class="form-control") }}
                          {% endif %}
                      </div>
                      <div class="row">
                          <div class="form-group col-6">
                              {{ form_habilidade.dataini.label (class="form-control-label") }}
                              {% if form_habilidade.dataini.errors %}
                                {{ form_habilidade.dataini (class="form-control is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for erro in form_habilidade.dataini.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form_habilidade.dataini (type="date", placeholder="mm/yyyy", class="form-control") }}
                              {% endif %}
                          </div>
                          <div class="form-group col-6">
                              {{ form_habilidade.datafinal.label (class="form-control-label") }}
                              {% if form_habilidade.datafinal.errors %}
                                {{ form_habilidade.datafinal (class="form-control is-invalid") }}
                                <div class = "invalid-feedback">
                                    {% for erro in form_habilidade.datafinal.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form_habilidade.datafinal (type="date", placeholder="mm/yyyy", class="form-control") }}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group">
                          {{ form_habilidade.competencia.label (class="form-control-label") }}
                          {% if form_habilidade.competencia.errors %}
                            {{ form_habilidade.competencia (class="form-control is-invalid") }}
                            <div class = "invalid-feedback">
                                {% for erro in form_habilidade.competencia.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                          {% else %}
                            {{ form_habilidade.competencia (class="form-control") }}
                          {% endif %}
                      </div>
                      <div class="form-group">
                          {{ form_habilidade.certificado.label }}
                          {{ form_habilidade.certificado }}
                      </div>
                  </fieldset>
                  <div class="row mt-2">
                      <div class="col-6">
                        {{ form_habilidade.botaoSubmitConfirmarCurso (class = "btn btn-primary mt-2") }}
                      </div>
                      <div class="col-6 mt-2">
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Excluir
                          </button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col">
              <form method="POST" action="" class="border p-4 mt-2">
                  {{ form_profissao.csrf_token }}
                  <legend>Atualize suas Experiências Profissionais</legend>
                  <fieldset>
                      <div class="row">
                          <div class="form-group col-4">
                              {{ form_profissao.cargo.label (class="form-control-label") }}
                              <input class="form-control">
                          </div>
                          <div class="form-group col-8">
                              {{ form_profissao.entidade.label (class="form-control-label") }}
                              <input class="form-control">
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-6">
                              {{ form_profissao.dataadmin.label (class="form-control-label") }}
                              <input class="form-control">
                          </div>

                          <div class="form-group col-6">
                              {{ form_profissao.datafim.label (class="form-control-label") }}
                              <input class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          {{ form_profissao.atribuicao.label (class="form-control-label") }}
                          <input class="form-control">
                      </div>
                      <div class="form-group">
                          {{ form_profissao.conquistas.label (class="form-control-label") }}
                          <textarea class="form-control"></textarea>
                      </div>
                  </fieldset>
                  {{ form_profissao.botaoSubmitConfirmarProfissao (class = "btn btn-primary mt-2") }}
              </form>
          </div>
    </div>
</div>
<br>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EXCLUIR CURSO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este curso?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
          <form method="POST" action="{{ url_for('excluir_habilidade', habilidade_id=habilidade.id ) }}">
            <button type="submit" class="btn btn-danger">Confirmar</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}